.container {
  max-width: 317px;
  max-height: 780px;
  margin: 0 auto;
  padding: 0;
  background: var(--color-bg);
  border-radius: 16px;
  box-shadow: 0 4px 24px rgba(0,0,0,0.15);
}
.info img {
  width: 100%;
  border-radius: 16px 16px 0 0;
  margin-bottom: 0.5rem;
}

.info > h1, .info > p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.about, .interests {
  padding: 0 1.5rem;
  margin-bottom: 1.5rem;
}

.social , .contact {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1.5rem;
}

button {
  color: var(--color-dark);
  display: flex;
  align-items: center;
  gap: 0.5em;
}

button img {
  color: var(--color-dark);
  width: 16px;
  height: 16px;
}